# Godot 4+ specific ignores
.godot/
/android/
*.tmp

# Already imported assets
game/assets/fonts/Roboto/

# Already imported plugin
game/addons/sound_manager/
game/addons/sound_manager/sound_manager.gd